@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    font-family: "Titillium Web", sans-serif;
}

:root {
    --color-main: #e51c23;
    --color-dark-grey: #333333;
    --color-light-grey: #777;
    --color-grey: #555;
    --color-grenadine: #dc4c46;
}

body, html {
    background-color: white !important;
}

.button {
    background-color: var(--color-main);
    border-radius: 0;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button-text {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.51), 0 1px 0 rgba(0, 0, 0, 0.51);
    color: white;
}

.button:focus {
    outline: 0;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

input {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: transparent;
    border-image: linear-gradient(90deg, var(--color-grey), var(--color-dark-grey), var(--color-grey));
    border-image-slice: 1;
    background-color: transparent;
    color: #333333;
}

input:focus {
    outline: 0;
}

::placeholder {
    font-family: "Titillium Web", sans-serif;
    color: var(--color-grey);
}
