@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    font-family: "Titillium Web", sans-serif;
}

:root {
    --color-main: #e51c23;
    --color-dark-grey: #322829;
    --color-light-grey: #9a8f82;
    --color-grenadine: #dc4c46;
}

html {
    background-color: var(--color-dark-grey);
}

.main {
    background-color: var(--color-light-grey);
}

.button {
    background-color: var(--color-main);
    border-radius: 0;
    border: none;
}

.button-text {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.51), 0 1px 0 rgba(0, 0, 0, 0.51);
    color: white;
    text-transform: uppercase;
}

.bold-text {
    font-weight: bold;
}

.button:focus {
    outline: 0;
}

input {
    border-width: 0 0 2px 0;
    border-color: var(--color-main);
    background-color: white;
}

.hidden {
    display: none;
    position: absolute !important;
    text-align: right;
    background-color: var(--color-dark-grey);
}

.skew {
    transform: skewX(20deg);
}

.skew-revert {
    transform: skewX(-20deg);
}