<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
</head>
<body>
    <form action="/api/users" method="POST">
        <input type="text" name="userName" placeholder="Username" />
        <input type="password" name="userPassword" placeholder="Password" />
        <button type="submit">Register</button>
    </form>
    <p th:each="user : ${users}" th:text="${user.name} + ' ' + ${user.id} + ' ' +  ${user.password}"></p>
</body>
</html>