<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enigma</title>
</head>
<body>
    <form action="/api/users" method="POST">
        <input type="text" name="userName" pattern="[A-Za-z]{3,}" placeholder="Username" title="Must contain at least three characters. Only letters are accepted."/>
        <input type="password" name="userPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
        <button type="submit">Register</button>
    </form>
    <form action="/api/login" method="POST">
        <input type="text" name="userName" pattern="[A-Za-z]{3,}" placeholder="Username" title="Must contain at least three characters. Only letters are accepted." />
        <input type="password" name="userPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
        <button type="submit">Login</button>
    </form>

    <!--REMOVE THIS-->
    <p th:each="user : ${users}" th:text="${user.name} + ' ' + ${user.id} + ' ' +  ${user.password}"></p>
</body>
</html>