<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Enigma</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="jumbotron">
        <!--registration form-->
        <form action="/api/users" method="POST">
            <div class="row">
                <input class="col-6 offset-3" placeholder="Name" type="text" name="userName" pattern="[A-Za-z]{3,}" title="Must contain at least three characters. Only letters are accepted."/>
                <div class="col-3 hidden-text">Name</div>
            </div>
            <div class="row">
                <input class="col-6 offset-3" placeholder="Password" type="password" name="userPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
                <div class="col-3 hidden-text">Password</div>
            </div>
            <div class="row">
                <button class="button col-6 offset-3" type="submit">
                    <div class="button-text">Register</div>
                </button>
            </div>
        </form>
        <!--login form-->
        <form action="/api/login" method="POST">
            <div class="row">
                <input class="col-6 offset-3" placeholder="Name" type="text" name="userName" pattern="[A-Za-z]{3,}" title="Must contain at least three characters. Only letters are accepted."/>
                <span class="col-3 hidden-text">Name</span>
            </div>
            <div class="row">
                <input class="col-6 offset-3" placeholder="Password" type="password" name="userPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
                <span class="col-3 hidden-text">Password</span>
            </div>
            <div class="row">
                <button class="button col-6 offset-3" type="submit">
                    <div class="button-text">Login</div>
                </button>
            </div>
        </form>

    </div><!--jumbotron-->
</body>
</html>